In [1]:
import pandas as pd
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Read the decision table
decision_df = pd.read_csv('data_prep/DECISION_TABLE.csv')

# Pre-defined lists for random data
titles = ['Herr', 'Frau', 'Dr.', 'Prof.', 'Dipl.-Ing.']
forenames = ['Anna', 'Hans', 'Maria', 'Peter', 'Klaus', 'Sabine', 'Thomas', 'Julia', 'Michael', 'Petra']
surnames = ['Müller', 'Schmidt', 'Schneider', 'Fischer', 'Weber', 'Meyer', 'Wagner', 'Becker', 'Schulz', 'Hoffmann']
streets = ['Hauptstraße', 'Bahnhofstraße', 'Kirchweg', 'Gartenstraße', 'Schulstraße', 'Bergstraße', 'Waldweg', 'Dorfstraße', 'Lindenallee', 'Marktplatz']
streetnos = ['1', '2', '5', '10', '15', '20', '25', '30', '42', '50', '1a', '3b', '12c']

# Get unique EQUNRs
num_rows = len(decision_df)

# Add random columns
decision_df['TITLE'] = np.random.choice(titles, size=num_rows)
decision_df['FORENAME'] = np.random.choice(forenames, size=num_rows)
decision_df['SURNAME'] = np.random.choice(surnames, size=num_rows)
decision_df['STREET'] = np.random.choice(streets, size=num_rows)
decision_df['STREETNO'] = np.random.choice(streetnos, size=num_rows)
decision_df["EMAIL"] = (decision_df["FORENAME"].str.lower() + "." + decision_df["SURNAME"].str.lower() + "@example.com")

decision_df = decision_df[["EQUNR", "TITLE", "FORENAME", "SURNAME", "STREET", "STREETNO", "CITY1", "CITY2", "POST_CODE1", "EMAIL"]].copy()
decision_df = decision_df.drop_duplicates(subset=["EQUNR"]).reset_index(drop=True)
display(decision_df)

# Save as NET_MASTER.csv
decision_df.to_csv('data_prep/NET_MASTER.csv', index=False)

num_empty = int(len(decision_df) * 0.1)
empty_indices = np.random.choice(decision_df.index, size=num_empty, replace=False)
decision_df = decision_df.drop(index=empty_indices)
display(decision_df)

# Save as SALES_MASTER.csv
decision_df.to_csv('data_prep/SALES_MASTER.csv', index=False)

print(f"Created SALES_MASTER.csv with {len(decision_df)} rows")
print(f"Columns: {list(decision_df.columns)}")

Empty DataFrame
Columns: [EQUNR, TITLE, FORENAME, SURNAME, STREET, STREETNO, CITY1, CITY2, POST_CODE1, EMAIL]
Index: []

Empty DataFrame
Columns: [EQUNR, TITLE, FORENAME, SURNAME, STREET, STREETNO, CITY1, CITY2, POST_CODE1, EMAIL]
Index: []

Created SALES_MASTER.csv with 0 rows
Columns: ['EQUNR', 'TITLE', 'FORENAME', 'SURNAME', 'STREET', 'STREETNO', 'CITY1', 'CITY2', 'POST_CODE1', 'EMAIL']

In [2]:
import pandas as pd
import sqlite3
from pathlib import Path

# Database path
DB_PATH = "database.db"

# Data folder path
data_folder = Path("data_prep")

# Dictionary to store DataFrames
dataframes = {}


# Load all CSV files from data folder
csv_files = list(data_folder.glob("*.csv"))
print(f"Found {len(csv_files)} CSV files in data folder:\n")

for csv_file in csv_files:
    table_name = csv_file.stem.lower()  # Use filename without extension as table name
    print(f"Loading {csv_file.name}...")
    df = pd.read_csv(csv_file).fillna("")  # Read all columns as strings TODO: check if it is okay without str
    if table_name.startswith("decision_table"):
        df["HOUSE_NUM1"] = df["HOUSE_NUM1"].apply(lambda x: "1111" if x == "" else x).astype(int)
        df = df.drop(columns=["ENTSCHEIDUNG", "REGEL"]).copy()
        display(df)
    dataframes[table_name] = df
    print(f"  - Shape: {df.shape}")
    print(f"  - Columns: {list(df.columns)[:5]}{'...' if len(df.columns) > 5 else ''}\n")

# Write all DataFrames to SQLite database
print(f"\nWriting tables to {DB_PATH}:")
conn = sqlite3.connect(DB_PATH)

for table_name, df in dataframes.items():
    print(f"  - Writing table '{table_name}'...")
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    
conn.close()

print("\n✓ All tables successfully written to database!")
print(f"Tables created: {list(dataframes.keys())}")

Found 6 CSV files in data folder:

Loading NET_MASTER.csv...
  - Shape: (0, 10)
  - Columns: ['EQUNR', 'TITLE', 'FORENAME', 'SURNAME', 'STREET']...

Loading SALES_MASTER.csv...
  - Shape: (0, 10)
  - Columns: ['EQUNR', 'TITLE', 'FORENAME', 'SURNAME', 'STREET']...

Loading DECISION_TABLE.csv...

Empty DataFrame
Columns: [HAUS, ANLAGE, ABLEINH, TOUR, ME_MA_ID, CITY1, CITY2, HOUSE_NUM1, POST_CODE1, EQUNR]
Index: []

  - Shape: (0, 10)
  - Columns: ['HAUS', 'ANLAGE', 'ABLEINH', 'TOUR', 'ME_MA_ID']...

Loading EABL.csv...
  - Shape: (0, 11)
  - Columns: ['Meter Reading (MR) Doc. No.', 'EQUNR', 'Geplante Ableseart', 'MR type', 'MR TYPE TEXT']...

Loading EABLG.csv...
  - Shape: (0, 7)
  - Columns: ['Meter Reading (MR) Doc. No.', 'Installation', 'Meter Reading reason', 'MR Reason - Text', 'Scheduled MR Date']...

Loading EANL.csv...
  - Shape: (0, 14)
  - Columns: ['Installation', 'Installation type', 'Record created on', 'Object changed on', 'SPARTE_TEXT']...


Writing tables to database.db:
  - Writing table 'net_master'...
  - Writing table 'sales_master'...
  - Writing table 'decision_table'...
  - Writing table 'eabl'...
  - Writing table 'eablg'...
  - Writing table 'eanl'...

✓ All tables successfully written to database!
Tables created: ['net_master', 'sales_master', 'decision_table', 'eabl', 'eablg', 'eanl']

In [3]:
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

# Get all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Database Schema:\n" + "="*80 + "\n")

for table in tables:
    table_name = table[0]
    print(f"Table: {table_name}")
    print("-" * 80)
    
    # Get table info (column names and types)
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()
    
    for col in columns:
        col_id, col_name, col_type, not_null, default_val, is_pk = col
        pk_marker = " (PRIMARY KEY)" if is_pk else ""
        not_null_marker = " NOT NULL" if not_null else ""
        print(f"  {col_name}: {col_type}{not_null_marker}{pk_marker}")
    
    print("\n")

conn.close()

Database Schema:
================================================================================

Table: decision_talbe
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INTEGER
  POST_CODE1: INTEGER
  EQUNR: TEXT


Table: J09A_step5_net
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  Meter Reading (MR) Doc. No.: TEXT
  Meter Reading reason: INT
  MR Reason - Text: TEXT
  Scheduled MR Date: TEXT
  Meter Reading unit: TEXT
  NET_TITLE: TEXT
  NET_FORENAME: TEXT
  NET_SURNAME: TEXT
  NET_STREET: TEXT
  NET_STREETNO: TEXT
  NET_CITY1: TEXT
  NET_CITY2: TEXT
  NET_POSTCODE1: INT
  NET_EMAIL: TEXT


Table: J09A_step5_full
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  Meter Reading (MR) Doc. No.: TEXT
  Meter Reading reason: INT
  MR Reason - Text: TEXT
  Scheduled MR Date: TEXT
  Meter Reading unit: TEXT
  NET_TITLE: TEXT
  NET_FORENAME: TEXT
  NET_SURNAME: TEXT
  NET_STREET: TEXT
  NET_STREETNO: TEXT
  NET_CITY1: TEXT
  NET_CITY2: TEXT
  NET_POSTCODE1: INT
  NET_EMAIL: TEXT
  SALES_TITLE: TEXT
  SALES_FORENAME: TEXT
  SALES_SURNAME: TEXT
  SALES_STREET: TEXT
  SALES_STREETNO: TEXT
  SALES_CITY1: TEXT
  SALES_CITY2: TEXT
  SALES_POSTCODE1: INT
  SALES_EMAIL: TEXT


Table: J09A_joined2
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  Meter Reading (MR) Doc. No.: TEXT
  Installation: TEXT
  TITLE:
  FORENAME:
  SURNAME:
  STREET:
  STREETNO:
  POSTCODE1:
  CITY1:1:
  CITY2:1:
  EMAIL:


Table: J09D_sales
--------------------------------------------------------------------------------
  Meter Reading (MR) Doc. No.: TEXT
  HAUS: TEXT
  ANLAGE: TEXT
  ME_MA_ID: TEXT
  EQUNR: TEXT
  HOUSE_NUM1: INT
  ENTSCHEIDUNG: TEXT
  TITLE:
  FORENAME:
  SURNAME:
  STREET:
  STREETNO:
  POSTCODE1:
  CITY1:
  CITY2:
  EMAIL:
  TITLE:1: TEXT
  FORENAME:1: TEXT
  SURNAME:1: TEXT
  STREET:1: TEXT
  STREETNO:1: TEXT
  POSTCODE1:1: INT
  CITY1:1: TEXT
  CITY2:1: TEXT
  EMAIL:1: TEXT


Table: J09D_net
--------------------------------------------------------------------------------
  Meter Reading (MR) Doc. No.: TEXT
  HAUS: TEXT
  ANLAGE: TEXT
  ME_MA_ID: TEXT
  EQUNR: TEXT
  HOUSE_NUM1: INT
  ENTSCHEIDUNG: TEXT
  TITLE:
  FORENAME:
  SURNAME:
  STREET:
  STREETNO:
  POSTCODE1:
  CITY1:
  CITY2:
  EMAIL:
  TITLE:1: TEXT
  FORENAME:1: TEXT
  SURNAME:1: TEXT
  STREET:1: TEXT
  STREETNO:1: TEXT
  POSTCODE1:1: INT
  CITY1:1: TEXT
  CITY2:1: TEXT
  EMAIL:1: TEXT


Table: J09D_step5a
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  EABLG_MR_Doc_No: TEXT
  EABLG_MR_Reason: INT
  EABLG_MR_Reason_Text: TEXT
  EABLG_Scheduled_MR_Date: TEXT
  EABLG_MR_Unit: TEXT
  NET_TITLE: TEXT
  NET_FORENAME: TEXT
  NET_SURNAME: TEXT
  NET_STREET: TEXT
  NET_STREETNO: TEXT
  NET_CITY1: TEXT
  NET_CITY2: TEXT
  NET_POST_CODE1: INT
  NET_EMAIL: TEXT


Table: J09D_full
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  EABLG_MR_Doc_No: TEXT
  EABLG_MR_Reason: INT
  EABLG_MR_Reason_Text: TEXT
  EABLG_Scheduled_MR_Date: TEXT
  EABLG_MR_Unit: TEXT
  NET_TITLE: TEXT
  NET_FORENAME: TEXT
  NET_SURNAME: TEXT
  NET_STREET: TEXT
  NET_STREETNO: TEXT
  NET_CITY1: TEXT
  NET_CITY2: TEXT
  NET_POST_CODE1: INT
  NET_EMAIL: TEXT
  SALES_TITLE: TEXT
  SALES_FORENAME: TEXT
  SALES_SURNAME: TEXT
  SALES_STREET: TEXT
  SALES_STREETNO: TEXT
  SALES_CITY1: TEXT
  SALES_CITY2: TEXT
  SALES_POST_CODE1: INT
  SALES_EMAIL: TEXT


Table: J09D_resolved
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  EABLG_MR_Doc_No: TEXT
  EABLG_MR_Reason: INT
  EABLG_MR_Reason_Text: TEXT
  EABLG_Scheduled_MR_Date: TEXT
  EABLG_MR_Unit: TEXT
  NET_TITLE: TEXT
  NET_FORENAME: TEXT
  NET_SURNAME: TEXT
  NET_STREET: TEXT
  NET_STREETNO: TEXT
  NET_CITY1: TEXT
  NET_CITY2: TEXT
  NET_POST_CODE1: INT
  NET_EMAIL: TEXT
  SALES_TITLE: TEXT
  SALES_FORENAME: TEXT
  SALES_SURNAME: TEXT
  SALES_STREET: TEXT
  SALES_STREETNO: TEXT
  SALES_CITY1: TEXT
  SALES_CITY2: TEXT
  SALES_POST_CODE1: INT
  SALES_EMAIL: TEXT
  TITLE:
  FORENAME:
  SURNAME:
  STREET:
  STREETNO:
  CITY1:1:
  CITY2:1:
  POSTCODE1:
  EMAIL:


Table: J09D_mandatory_eq
--------------------------------------------------------------------------------
  EQUNR: TEXT


Table: J09D_directmail_eq
--------------------------------------------------------------------------------
  EQUNR: TEXT


Table: J09D_joined2
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  Meter Reading (MR) Doc. No.: TEXT
  ANLAGE:1: TEXT
  TITLE:
  FORENAME:
  SURNAME:
  STREET:
  STREETNO:
  POSTCODE1:
  CITY1:1:
  CITY2:1:
  EMAIL:


Table: J09A_join1
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  MR_Doc_No: TEXT
  ISTABLART_TXT: TEXT
  Record_created_on: TEXT


Table: J09A_join2
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  MR_Doc_No: TEXT
  ISTABLART_TXT: TEXT
  Record_created_on: TEXT
  NET_TITLE: TEXT
  NET_FORENAME: TEXT
  NET_SURNAME: TEXT
  NET_STREET: TEXT
  NET_STREETNO: TEXT
  NET_POST_CODE1: INT
  NET_CITY1: TEXT
  NET_CITY2: TEXT
  NET_EMAIL: TEXT
  SALES_TITLE: TEXT
  SALES_FORENAME: TEXT
  SALES_SURNAME: TEXT
  SALES_STREET: TEXT
  SALES_STREETNO: TEXT
  SALES_POST_CODE1: INT
  SALES_CITY1: TEXT
  SALES_CITY2: TEXT
  SALES_EMAIL: TEXT


Table: J09A_join3
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  MR_Doc_No: TEXT
  ISTABLART_TXT: TEXT
  Record_created_on: TEXT
  NET_TITLE: TEXT
  NET_FORENAME: TEXT
  NET_SURNAME: TEXT
  NET_STREET: TEXT
  NET_STREETNO: TEXT
  NET_POST_CODE1: INT
  NET_CITY1: TEXT
  NET_CITY2: TEXT
  NET_EMAIL: TEXT
  SALES_TITLE: TEXT
  SALES_FORENAME: TEXT
  SALES_SURNAME: TEXT
  SALES_STREET: TEXT
  SALES_STREETNO: TEXT
  SALES_POST_CODE1: INT
  SALES_CITY1: TEXT
  SALES_CITY2: TEXT
  SALES_EMAIL: TEXT
  TITLE:
  FORENAME:
  SURNAME:
  STREET:
  STREETNO:
  POSTCODE1:
  CITY1_final:
  CITY2_final:
  EMAIL_final:


Table: J09C_temp_step6_backup
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  ENTSCHEIDUNG: TEXT
  MR_Doc_No: TEXT


Table: J09C_temp_base
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  MR_Doc_No: TEXT
  ENTSCHEIDUNG: TEXT


Table: J09C_temp_net
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  MR_Doc_No: TEXT
  ENTSCHEIDUNG: TEXT
  NET_TITLE: TEXT
  NET_FORENAME: TEXT
  NET_SURNAME: TEXT
  NET_STREET: TEXT
  NET_STREETNO: TEXT
  NET_CITY1: TEXT
  NET_CITY2: TEXT
  NET_POST_CODE1: INT
  NET_EMAIL: TEXT


Table: J09C_temp_full
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  MR_Doc_No: TEXT
  ENTSCHEIDUNG: TEXT
  NET_TITLE: TEXT
  NET_FORENAME: TEXT
  NET_SURNAME: TEXT
  NET_STREET: TEXT
  NET_STREETNO: TEXT
  NET_CITY1: TEXT
  NET_CITY2: TEXT
  NET_POST_CODE1: INT
  NET_EMAIL: TEXT
  SALES_TITLE: TEXT
  SALES_FORENAME: TEXT
  SALES_SURNAME: TEXT
  SALES_STREET: TEXT
  SALES_STREETNO: TEXT
  SALES_CITY1: TEXT
  SALES_CITY2: TEXT
  SALES_POST_CODE1: INT
  SALES_EMAIL: TEXT


Table: J09C_temp_pre_eabl
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INT
  POST_CODE1: INT
  EQUNR: TEXT
  MR_Doc_No: TEXT
  ENTSCHEIDUNG: TEXT
  NET_TITLE: TEXT
  NET_FORENAME: TEXT
  NET_SURNAME: TEXT
  NET_STREET: TEXT
  NET_STREETNO: TEXT
  NET_CITY1: TEXT
  NET_CITY2: TEXT
  NET_POST_CODE1: INT
  NET_EMAIL: TEXT
  SALES_TITLE: TEXT
  SALES_FORENAME: TEXT
  SALES_SURNAME: TEXT
  SALES_STREET: TEXT
  SALES_STREETNO: TEXT
  SALES_CITY1: TEXT
  SALES_CITY2: TEXT
  SALES_POST_CODE1: INT
  SALES_EMAIL: TEXT
  TITLE:
  FORENAME:
  SURNAME:
  STREET:
  STREETNO:
  CITY1_final:
  CITY2_final:
  POST_CODE1_final:
  EMAIL:


Table: process_rules
--------------------------------------------------------------------------------
  process_rule_id: TEXT (PRIMARY KEY)
  process_rule: TEXT NOT NULL


Table: net_master
--------------------------------------------------------------------------------
  EQUNR: TEXT
  TITLE: TEXT
  FORENAME: TEXT
  SURNAME: TEXT
  STREET: TEXT
  STREETNO: TEXT
  CITY1: TEXT
  CITY2: TEXT
  POST_CODE1: TEXT
  EMAIL: TEXT


Table: sales_master
--------------------------------------------------------------------------------
  EQUNR: TEXT
  TITLE: TEXT
  FORENAME: TEXT
  SURNAME: TEXT
  STREET: TEXT
  STREETNO: TEXT
  CITY1: TEXT
  CITY2: TEXT
  POST_CODE1: TEXT
  EMAIL: TEXT


Table: decision_table
--------------------------------------------------------------------------------
  HAUS: TEXT
  ANLAGE: TEXT
  ABLEINH: TEXT
  TOUR: TEXT
  ME_MA_ID: TEXT
  CITY1: TEXT
  CITY2: TEXT
  HOUSE_NUM1: INTEGER
  POST_CODE1: TEXT
  EQUNR: TEXT


Table: eabl
--------------------------------------------------------------------------------
  Meter Reading (MR) Doc. No.: TEXT
  EQUNR: TEXT
  Geplante Ableseart: TEXT
  MR type: TEXT
  MR TYPE TEXT: TEXT
  MR category: TEXT
  ISTABLART_TXT: TEXT
  LOGIKZW: TEXT
  KENNZIFF: TEXT
  Record created on: TEXT
  Object changed on: TEXT


Table: eablg
--------------------------------------------------------------------------------
  Meter Reading (MR) Doc. No.: TEXT
  Installation: TEXT
  Meter Reading reason: TEXT
  MR Reason - Text: TEXT
  Scheduled MR Date: TEXT
  Meter Reading unit: TEXT
  Meter Reading (MR) Doc. No..1: TEXT


Table: eanl
--------------------------------------------------------------------------------
  Installation: TEXT
  Installation type: TEXT
  Record created on: TEXT
  Object changed on: TEXT
  SPARTE_TEXT: TEXT
  AKLASSE: TEXT
  AKLASSE_TEXT: TEXT
  TARIFTYP: TEXT
  TARIFTYP_TEXT: TEXT
  BRANCHE: TEXT
  BRANCHE_TEXT: TEXT
  ABLEINH: TEXT
  ME_MA_ID: TEXT
  HAUS: TEXT